Import library and load datset

In [3]:
#import library
import pandas as pd

In [4]:
#load dataset
df=pd.read_csv('cars.csv')
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4.0,140.0,86.0,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4.0,97.0,52.0,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4.0,135.0,84.0,2295,11.6,82,US
404,Ford Ranger,28.0,4.0,120.0,79.0,2625,18.6,82,US
405,Chevy S-10,31.0,4.0,119.0,82.0,2720,19.4,82,US

In [5]:
#applying condition on series
df['Weight']>=3500
#note:I asked to print weight which is greater than 3500 and it prints true or false only when we use location only it displays from that table

0       True
1       True
2      False
3      False
4      False
       ...
401    False
402    False
403    False
404    False
405    False
Name: Weight, Length: 406, dtype: bool

In [6]:
#Filtering rows based on conditions
df.loc[df['Weight']>=3500]
#note:we used df.loc to display weight condition from the table

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
5,Ford Galaxie 500,15.0,8.0,429.0,198.0,4341,10.0,70,US
6,Chevrolet Impala,14.0,8.0,454.0,220.0,4354,9.0,70,US
7,Plymouth Fury iii,14.0,NaN,440.0,215.0,4312,8.5,70,US
...,...,...,...,...,...,...,...,...,...
298,Chevrolet Malibu Classic (sw),19.2,8.0,267.0,125.0,3605,15.0,79,US
299,Chrysler Lebaron Town @ Country (sw),18.5,8.0,360.0,150.0,3940,13.0,79,US
304,Mercedes Benz 300d,25.4,5.0,183.0,77.0,3530,20.1,79,Europe
305,Cadillac Eldorado,23.0,8.0,350.0,125.0,3900,17.4,79,US
372,Oldsmobile Cutlass LS,26.6,8.0,350.0,105.0,3725,19.0,81,US

In [7]:
#filtering rows using string value
df.loc[df['Origin']== 'US']
#note:I dislplayed the origin which has only US and I used loc funcion so it displays from the table

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
400,Chevrolet Camaro,27.0,4.0,151.0,90.0,2950,17.3,82,US
401,Ford Mustang GL,27.0,4.0,140.0,86.0,2790,15.6,82,US
403,Dodge Rampage,32.0,4.0,135.0,84.0,2295,11.6,82,US
404,Ford Ranger,28.0,4.0,120.0,79.0,2625,18.6,82,US
405,Chevy S-10,31.0,4.0,119.0,82.0,2720,19.4,82,US

In [10]:
#filtering rows using integer value
df.loc[df['Model']== 70]
#note:I dislplayed the model which has only 70 and I used loc funcion so it displays from the table

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US
5,Ford Galaxie 500,15.0,8.0,429.0,198.0,4341,10.0,70,US
6,Chevrolet Impala,14.0,8.0,454.0,220.0,4354,9.0,70,US
7,Plymouth Fury iii,14.0,NaN,440.0,215.0,4312,8.5,70,US
8,Pontiac Catalina,14.0,8.0,455.0,225.0,4425,10.0,70,US
9,AMC Ambassador DPL,15.0,8.0,390.0,190.0,3850,8.5,70,US
10,Citroen DS-21 Pallas,0.0,4.0,133.0,115.0,3090,17.5,70,Europe
11,Chevrolet Chevelle Concours (sw),0.0,8.0,350.0,NaN,4142,11.5,70,US
12,Ford Torino (sw),0.0,8.0,351.0,153.0,4034,11.0,70,US
13,Plymouth Satellite (sw),0.0,8.0,383.0,175.0,4166,10.5,70,US
14,AMC Rebel SST (sw),0.0,8.0,360.0,175.0,3850,11.0,70,US
15,Dodge Challenger SE,15.0,8.0,383.0,170.0,3563,10.0,70,US
16,Plymouth 'Cuda 340,14.0,8.0,340.0,160.0,3609,8.0,70,US
17,Ford Mustang Boss 302,0.0,8.0,302.0,140.0,3353,8.0,70,US
18,Chevrolet Monte Carlo,15.0,8.0,400.0,150.0,3761,9.5,70,US
19,Buick Estate Wagon (sw),14.0,8.0,455.0,225.0,3086,10.0,70,US
20,Toyota Corolla Mark ii,24.0,4.0,113.0,95.0,2372,15.0,70,Japan
21,Plymouth Duster,22.0,6.0,198.0,95.0,2833,15.5,70,US
22,AMC Hornet,18.0,6.0,199.0,NaN,2774,15.5,70,US
23,Ford Maverick,21.0,6.0,200.0,85.0,2587,16.0,70,US
24,Datsun PL510,27.0,4.0,97.0,88.0,2130,14.5,70,Japan
25,Volkswagen 1131 Deluxe Sedan,26.0,4.0,97.0,46.0,1835,20.5,70,Europe
26,Peugeot 504,25.0,4.0,110.0,87.0,2672,17.5,70,Europe
27,Audi 100 LS,24.0,4.0,107.0,90.0,2430,14.5,70,Europe
28,Saab 99e,25.0,4.0,104.0,95.0,2375,17.5,70,Europe
29,BMW 2002,26.0,4.0,121.0,113.0,2234,12.5,70,Europe
30,AMC Gremlin,21.0,6.0,199.0,90.0,2648,15.0,70,US
31,Ford F250,10.0,8.0,360.0,215.0,4615,14.0,70,US
32,Chevy C20,10.0,8.0,307.0,200.0,4376,15.0,70,US
33,Dodge D200,11.0,8.0,318.0,210.0,4382,13.5,70,US
34,Hi 1200D,9.0,8.0,304.0,193.0,4732,18.5,70,US