In [1]:
#import library and load dataset
#import library
import pandas as pd

In [2]:
#load dataset
df=pd.read_csv('cars.csv')
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4.0,140.0,86.0,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4.0,97.0,52.0,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4.0,135.0,84.0,2295,11.6,82,US
404,Ford Ranger,28.0,4.0,120.0,79.0,2625,18.6,82,US
405,Chevy S-10,31.0,4.0,119.0,82.0,2720,19.4,82,US

In [3]:
#undersampling
df.sample (n= 100)
#note:Undersampling in pandas involves reducing the size of the dataframe by randomly selecting a subset of rows,typically from the majority class,to a balance class distributions.
#note cont..:This techniques helps mitigate class imbalance within datsets improved model training and evaluation,addressing challenges such as bias towards the dominent class in machine learning tasks.

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
199,Chevrolet Nova,22.0,6.0,250.0,105.0,3353,14.5,76,US
330,Dodge Colt,27.9,4.0,156.0,105.0,2800,14.4,80,US
18,Chevrolet Monte Carlo,15.0,8.0,400.0,150.0,3761,9.5,70,US
306,Peugeot 504,27.2,4.0,141.0,71.0,3190,24.8,79,Europe
374,Chrysler Lebaron Salon,17.6,6.0,225.0,85.0,3465,16.6,81,US
...,...,...,...,...,...,...,...,...,...
339,Volkswagen Rabbit,29.8,4.0,89.0,62.0,1845,15.3,80,Europe
387,Mercury Lynx l,36.0,4.0,98.0,70.0,2125,17.3,82,US
365,Mazda 626,31.6,4.0,120.0,74.0,2635,18.3,81,Japan
283,Saab 99gle,21.6,4.0,121.0,115.0,2795,15.7,78,Europe
349,Plymouth Reliant,30.0,4.0,135.0,84.0,2385,12.9,81,US

In [4]:
#sampling by fraction
df.sample(frac=0.3)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
209,AMC Pacer d/l,17.5,6.0,258.0,95.0,3193,17.8,76,US
133,Ford Maverick,21.0,6.0,200.0,0.0,2875,17.0,74,US
43,Ford Torino 500,19.0,6.0,250.0,88.0,3302,15.5,71,US
62,Volkswagen Model 111,27.0,4.0,97.0,60.0,1834,19.0,71,Europe
56,Mercury Capri 2000,23.0,4.0,122.0,86.0,2220,14.0,71,US
...,...,...,...,...,...,...,...,...,...
115,Toyota Camry,20.0,4.0,97.0,88.0,2279,19.0,73,Japan
129,Saab 99le,24.0,4.0,121.0,110.0,2660,14.0,73,Europe
30,AMC Gremlin,21.0,6.0,199.0,90.0,2648,15.0,70,US
77,Chrysler Newport Royal,13.0,8.0,400.0,190.0,4422,12.5,72,US
331,Datsun 210,40.8,4.0,85.0,65.0,2110,19.2,80,Japan

In [6]:
#oversampling
df.sample(n=1000,replace=True)
#NOTE:In true 'T' must be in caps if not it wil not be defined and occurs error.
#note:Oversampling in pandas involves increasing a size of a dataframe by duplicating or generating new rows,usually from minority class to balance class distributions.
#note contd..:This techniques helps alleviate class imbalance within datsets ,enhancing the representation of underrepresented classes for more robust model training and accurate predictions in machine learning tasks.

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
259,Pontiac Phoenix LJ,19.2,6.0,231.0,105.0,3535,19.2,78,US
153,Dodge Colt,28.0,4.0,90.0,75.0,2125,14.5,74,US
243,Ford Mustang II 2+2,25.5,4.0,140.0,89.0,2755,15.8,77,US
234,Plymouth Volare Custom,19.0,6.0,225.0,100.0,3630,17.7,77,US
283,Saab 99gle,21.6,4.0,121.0,115.0,2795,15.7,78,Europe
...,...,...,...,...,...,...,...,...,...
277,Toyota Celica GT Liftback,21.1,4.0,134.0,95.0,2515,14.8,78,Japan
153,Dodge Colt,28.0,4.0,90.0,75.0,2125,14.5,74,US
214,Volvo 245,20.0,4.0,130.0,102.0,3150,15.7,76,Europe
66,Volkswagen Type 3,23.0,4.0,97.0,54.0,2254,23.5,72,Europe
71,Plymouth Fury III,15.0,8.0,318.0,150.0,4135,13.5,72,US